.wrapper {
    display:flex;
    justify-content: center;
    width: 1600px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.topline {
    position: absolute;
    width: 1600px;
    height: 80px;
    background: #ffffff;
}
header {
    position: absolute;
    width: 1600px;
    height: 600px;
    top: 80px;
    background: #2f303a;
    font-family: "Roboto", sans-serif;
}
footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    background: #2f303a;
    top: 2097px;
}
.logo {
    position: absolute;
    width: 110px;
    height: 31px;
    left: 215px;
    top: 24px;
    color: #2196f3;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo2 {
    position: absolute;
    left: 215px;
    top: 24px;
    width: 110px;
    height: 31px;
    color: #2196f3;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.fottab {
    position: absolute;
    left: 180px;
    top: 50px;
    width: 300px;
    height: 31px;
    color: #ffffff;
    font-style: normal;
    list-style-position: inside;
}
.apk {
    position: absolute;
    width: 272px;
    height: 16px;
    left: 453px;
    top: 12px;
    list-style-position: inside;
}
.mailcon {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    color: #757575;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.telcon {
    position: absolute;
    width: 150px;
    height: 16px;
    left: 1263px;
    top: 32px; 
    color: #757575;
    text-decoration: none; 
    font-family: "Roboto", sans-serif;
}
.headertext {
    color: #ffffff;
    margin-top: 20px;
    padding-top: 200px;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 10px;
    text-transform: uppercase;
}
    .button {
        margin-left: 700px;
        color: white;
        background: #2196f3;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }
.texttablemenu {
    font-family: "Roboto", sans-serif;
    column-count: 3;
}
.desc {
    font-family: "Roboto", sans-serif;
    top: 774px;
    width: 1340px;
    height:500px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    column-count: 4;
    column-gap: 5px;
}
.sign {
position: absolute;
width: 380px;
height: 42px;
top: 969px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
padding-left: 404px;
letter-spacing: 0.03em;
color: #212121;
}
.gallery {
    font-family: "Roboto", sans-serif;
    position: absolute;
    height: 386px;
    top: 1061px;
    column-count: 3;
    column-gap: 100px;
    width: 1117px;
    list-style-position: inside;
}
.gallbox{
width: 1170px;
height: 386px;
left: 180px;
top: 969px;
}
.team {
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 1600px;
    height: 648px;
    top: 1467px;
    background: #F5F4FA; 
    }
.sign1 {
position: absolute;
width: 230px;
height: 42px;
top: 94px;
left: 700px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: #212121;
}

.gallery2{
position: absolute;
width: 1170px;
height: 368px;
left:180px;
top: 186px;
column-count: 4;
column-gap: 20px;
}
ul {
    list-style-type: none;
}
.line {
    color:#ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.mailcon:hover{
    color:#2196f3;
}
.telcon:hover{
    color:#2196f3;
}
.ag:hover{
    color:#2196f3;
}
.po:hover{
    color:#2196f3;
}
.ko:hover{
    color:#2196f3;
}
.ag {
    text-decoration: none;
    color: #212121;
}
.po {
    text-decoration: none;
    color: #212121;
}
.ko {
    text-decoration: none;
    color: #212121;
}
figurecapction {
text-align: center;
}